<ion-content>
  <div>
    <ion-img src="/assets/logo.webp"></ion-img>
    <ion-grid class="ion-margin-top" >
      <ion-row class="ion-text-center">
        <ion-col size="6">
          <ion-button color="secondary" routerLink="/registro">
            Registrarsee
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="dark" routerLink="/login">
            Iniciar Sesion
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button class="btn-face">
            Iniciar sesion con Facebook
          </ion-button>
        </ion-col>
        <ion-col size="12" style="margin-top: 15px;">
          <a class="ancla-trabaja-con-nostros" routerLink="/registro-prof" >Trabaja con nosotros</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
