<ion-content class="ion-padding" [fullscreen]="true">
  <ion-img class="img-verificar" src="/assets/phone.png"></ion-img>
  <h3 class="ion-text-center">Verifica tu numero de celular</h3>
  <p class="ion-text-center">Ingresa tu numero de celular para recibir un codigo de verificacíon</p>
  <ion-item>
    <ion-label position="floating">Numero telefonico</ion-label>
    <ion-input type="number" name="telefono" [(ngModel)]="telefono" (keyup)="verificarLongitud()"></ion-input>
  </ion-item>
  <p class="err-longitud" *ngIf="minTelefono">El numero debe tener 10 digitos</p>
  <ion-button expand="block" (click)="verificarTel()">Verificar</ion-button>
</ion-content>