.img-verificar {
    width: 180px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
}
.err-longitud {
    color: red;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
}