.ctn-btn-login {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.ctn-link-crear {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.ctn-link-crear a {
    color: black;
    text-decoration: none;
    font-weight: 550;
    margin-left: 10px;
    line-height: 50px;
}
.logo{
    width: 350px;
    margin: 0 auto;
}
.ctn-login {
    position: absolute;
    top: 15%;
}